@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

h1, h2, h3, h4, h5, h6, p, button, a {
    font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    background-image: linear-gradient(45deg, #b21642, #e9ba5b);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #902946;
}

body {
    background-color: whitesmoke;
}

#head {
    font-size: 10vw;
}

.start {
    text-align: center;
}

.start button {
    padding: 2vw;
    font-size: 2vw;
    border: 1px solid grey;
    border-radius: 5vw;
    color: #b21642;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 1vh;
    font-size: 3vw;
    text-decoration: underline;
}

footer a {
    color: #b21642;
}

button:hover {
    cursor: pointer;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#b21642 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s 10;
      position: absolute;
    left: 46vw;
    top: 46vh;
}
@keyframes l7 {to{transform: rotate(.5turn)}}